
/* Position the image container (needed to position the left and right arrows) */
.gallerycontainer {  
  position: relative;
}

/* Hide the images by default */
.mySlides1, .mySlides2, .mySlides3 {
  display: block;
}


/* Add a pointer when hovering over the thumbnail images */
.gallerycursor {
  cursor: pointer;
}

/* Next & previous buttons */
.galleryprev,
.gallerynext {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
* {
  box-sizing: border-box;
}

.galleryprev{
  left:0;
}


.gallerynext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.galleryprev:hover,
.gallerynext:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.gallerynumbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.gallerycaption-container {
  text-align: center;
  background-color: #222;
  padding: 20px 0px 2px 16px;
  color: white;
}

.galleryrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.gallerycolumn {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.gallerydemo1,
.gallerydemo2,
.gallerydemo3 {
  opacity: 0.6;
}

.galleryactive,
.gallerydemo1:hover {
  opacity: 1;
}
.gallerydemo2:hover {
  opacity: 1;
}
.gallerydemo3:hover {
  opacity: 1;
}